<p>Selecione disciplinas já aprovadas</p>
<br><br>
<%= form_tag('/disciplinas', remote: true) do -%>
Digite seu número USP: <%= text_field_tag 'nusp'%> - <%= button_tag 'Carregar', type: 'submit', name: "Carregar" %>
<br><br>
<% @course.each_slice(3) {|arr| %>
<li><%= check_box_tag arr[0], arr[2], false, name: "valor" %><%= arr[0] + " - " + arr[1] + " - " + arr[2]%></li>
<% }  %>
<br><br>
<%= button_tag 'Limpar', type: 'reset', name: "Limpar" %>
<%= @discipline %>
<% end -%>